<p style="color: green"><%= notice %></p>

<h1>Records on Sale</h1>

<div id="records" class="grid-container">

  <% @records.each do |record| %>
    <div class="box record">
      <p>
      <%= link_to record.name, record %>
    </p>
    <%= image_tag(record.image, width: 200, alt: "Record") if record.image.attached? %>
    <%= image_tag("rec.png", width: 200, alt: "Record") if !record.image.attached? %>
    </div>
  <% end %>

</div>

<%= paginate @records %>