<p style="color: green"><%= notice %></p>

<%= render @record %>

<div class="box">
<h2 class="title is-2"><%= @record.name %></h2>
<%= image_tag(@record.image, width: 200, alt: "record") if @record.image.attached? %>
<ul>
  <li>
    Price: $<%= @record.price%>
  </li>
  <li>
    Description: <%= @record.description%>
  </li>
  <li>
    Genre: <%= link_to @record.genre.name, @record.genre %>
  </li>
  <li>
    Writers: <%= safe_join(@record.writers.map { |w| link_to(w.writer_name, controller: "writers", action: "show", id: w.id) }, ", ".html_safe) %>
  </li>
  <li>
    Producers: <%= safe_join(@record.producers.map { |p| link_to(p.producer_name, controller: "producers", action: "show", id: p.id) }, ", ".html_safe) %>
  </li>
</ul>

<% if cart.include?(@record) %>
 <%= button_to cart_path(@record), method: :delete do%>
    Remove from cart
<% end %>
<% else %>
  <%= form_with url: cart_index_path, method: :post do %>
   <%= hidden_field_tag(:id, @record.id) %>
    <%= button_tag 'Add to Cart' %>
  <%end%>
<% end %>

<%= form_with url: checkout_create_path, remote: true, data: { turbo: false } do %>
  <%= hidden_field_tag(:id, @record.id) %>
 <%= button_tag 'Buy Now' %>
<% end %>
<div>
  <%= link_to "Back to records", records_path %>

</div>
</div>




