<%= javascript_pack_tag "burger" %>

<nav class="navbar is-black" aria-label="dropdown navigation">
  <div class="navbar-item has-dropdown is-hoverable">
    <%#<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div> %>
  <a class="navbar-link">
      Menu
    </a>

  <div id="navbarBasicExample" class="navbar-dropdown">
      <p class="navbar-item">
        <%= link_to "Home", root_path %>
      </p>

      <p class="navbar-item">
        <%= link_to "Contact", contact_show_path %>
      </p>

      <p class="navbar-item">
        <%= link_to "About", about_show_path %>
      </p>

       <p class="navbar-item">
        <%= link_to "New", records_filter_new_path %>
      </p>

      <p class="navbar-item">
        <%= link_to "Sale", records_filter_sale_path %>
      </p>

      <% if !user_signed_in? %>
        <p class="navbar-item">
          <%= link_to "Sign Up", new_user_registration_path %>
        </p>
        <p class="navbar-item">
          <%= link_to "Sign In", new_user_session_path %>
        </p>
      <% else %>
        <p class="navbar-item">
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
        </p>
        <p class="navbar-item">
          <%= link_to "Edit Profile", edit_user_registration_path %>
        </p>
      <% end %>

    </div>

  </div>
</nav>