<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body>
  <%= render partial: 'common/header' %>
  <% if controller_name == 'home' || controller_name == 'records' %>
    <%= render partial: 'common/search' %>
  <% end %>
  <%= render_breadcrumbs %>
    <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<nav>
<%= link_to image_tag("snow.png", width: 60), root_path %>
<ul>
<li>
Cart
<% if cart.present? %>
  <sup><%= cart.size %></sup>
  <ul>
    <% cart.each do |record| %>
      <li>
        <%= record.name %> <%= number_field_tag 'quantity', '1', min: 1 %>
          <%= button_to cart_path(record), method: :delete do%>
            Remove from cart
          <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</li>
</ul>
</nav>

    <%= yield %>
  <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  </body>
</html>
